/* Global */

body, h1, h2, h3, p{
    margin: 0;
    font-family: Poppins, Arial;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto; /* Faz com que pegue a altura proporcional ao width da imagem. Necessário pois definimos as dimensões do HTML */
}

.subtitulo{
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    max-width: 400px;
    word-break: break-all;
    max-width: 4ch;
}

/* Global - Responsividade */
@media(max-width: 950px){
    .experiencia-texto, .formacao-texto, .footer-texto, .footer-contato{
        font-size: 1.25rem !important;
    }
}

@media(max-width: 800px){
    .subtitulo{
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial;
    }
}

@media(max-width: 475px){
    .subtitulo, .experiencia-texto, .formacao-texto{
        text-align: center;
    }
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.header-menu li a{
    display: block;
    font-size: 1.125rem;
    line-height: 1.3;
    text-decoration: none;
    color: #0D0D0D;
    border-bottom: #24B3BC 3px solid;
    border-color: #fff;
    padding: 10px 20px;
}

.header-menu li a:hover{
    border-color: #24B3BC;
    transition: .5s;
}

/* Header - Responsividade */

@media(max-width: 950px){
    .header{
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width: 475px){
    .header-menu{
        display: none;
    }

    .introducao h1{
        margin: 0px !important;
    }


    .introducao p{
        display: none;
    }
}

/* Conteúdo Principal */

.introducao {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 60px 20px;
}

.introducao h1{
    position: relative;
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    max-width: 12ch;
}

.introducao h1::before{
    /* position: absolute;
    content: url(/img/detail.svg);
    top: -15px;
    left: -40px;
    z-index: -10; Jeito que eu fiz */
    position: absolute;
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(../img/detail.svg) no-repeat center;
    top: -15px;
    left: -40px;
    z-index: -10;
}

.introducao p{
    font-size: 1.5rem;
    color: #545454;
}

.introducao span{
    color: #24B3BC;
}

/* Conteúdo Principal - Responsividade */

@media(max-width: 950px){
    .introducao h1{
        font-size: 3rem;
    }
}

@media(max-width: 800px){
    .introducao{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .introducao h1{
        font-size: 2rem;
    }

    .introducao h1::before{
        width: 30px;
        height: 10px;
        left: 0;
    }

    .introducao p{
        font-size: 1.25rem;
        color: #545454;
    }
}

/* Experiência */

.experiencia{
    background: #0D0D0D;
}

.experiencia-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}

.experiencia .subtitulo{
    color: #668486;
}

.experiencia-texto{
    color: #9C9C9C;
    font-size: 1.5rem;
    max-width: 40ch;
    margin-bottom: 40px;
}

.experiencia-texto strong{
    color: #BFFBFF;
}

.empresa{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    background: #BFFBFF;
    padding: 20px;
    border-radius: 4px;
    margin: 20px 0;
}

.empresa::before{
    position: absolute;
    content: "";
    display: block;
    width: 4px;
    height: 22px;
    background: #24B3BC;
    top: 20px;
    left: -4px;
}

.empresa-ano{
    position: absolute;
    font-size: 0.875rem;
    color: #9C9C9C;
    top: 22px;
    left: -60px;
    width: 5ch; /* Permite justificar ao final */
    text-align: end;
}

.empresa-titulo{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
    color: #000;
}

.empresa-texto{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #545454;
}

.empresa-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start; /* Impede que o elemento se expanda */
}

.empresa-habilidades li{
    background: #fff;
    font-size: 0.875rem;
    line-height: 1.4;
    padding: 5px 10px;
    border-radius: 4px;
}

/* Experiência - Responsividade */

@media(max-width: 800px){
    .experiencia-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .subtitulo{
        color: #BFFBFF;
    }

    .experiencia-texto{
        font-size: 1.25rem;
    }

    .empresa-ano{
        position: initial;
        order: 1;
        width: initial;
        text-align: start;
        color: #0D0D0D;
    }
}

@media(max-width: 400px){
    .experiencia-texto{
        font-size: 1.125rem;
    }

    .empresa{
        grid-template-columns:1fr;
        gap: 10px 20px;
        padding: 20px;
        margin: 20px 0;
    }

    .empresa-ano{
        display: none;
    }
}

/* Formação */

.formacao{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}

.formacao .subtitulo{
    color: #E0E0E0;
}

.formacao-texto{
    color: #545454;
    font-size: 1.5rem;
}

.formacao-texto strong{
    color: #0D0D0D;
}

.faculdade-lista{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 30px;
    margin: 40px 0;
}

.faculdade{
    position: relative;
    border: #E0E0E0 1px solid;
    width: 205px;
    height: 190px;
    padding: 20px;
}

.faculdade-tipo{
    font-size: 0.875rem;
    color: #787878;
}

.faculdade-curso{
    font-size: 1.125rem;
    color: #0D0D0D;
    font-weight: bold;
    margin: 10px 0;
}

.faculdade-instituicao{
    position: absolute;
    font-size: 1.125rem;
    color: #787878;
    bottom: 20px;
}

.faculdade::before{
    position: absolute;
    content: '';
    width: 4px;
    height: 22px;
    border-right: #24B3BC 4px solid;
    left: -8px;
    top: 22px;   
}

.cursos-intensivos{
    position: relative;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #0D0D0D;
    margin: 10px 36px;
}

.cursos-intensivos::before{
    position: absolute;
    content: url(/img/cursos.svg);
    left: -36px;
    top: -4px;
    z-index: -10;
}

.cursos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 80px;
    margin-left: 36px
}

.cursos li{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.4;
}

.cursos li span{
    font-size: 1rem;
    color: #0D0D0D;
    font-weight: bold;
}

/* Formação - Responsividade */

@media(max-width:950px){
    .faculdade{
        position: relative;
        border: #E0E0E0 1px solid;
        width: 163px;
        height: 148px;
        padding: 20px;
    }

    .cursos{
        gap: 0px 40px;
    }

    .cursos li{
        font-size: 0.875rem;
        line-height: 1.4;
    }

    .cursos li span{
        font-size: 0.875rem;
        color: #0D0D0D;
        font-weight: bold;
    }
}

@media(max-width:800px){
    .formacao{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .formacao .subtitulo{
        color: #0D0D0D;
    }

    .faculdade-lista{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 500px;
    }

    .cursos-intensivos{
        margin: 40px 0px 10px 36px;
    }

    .cursos{
        gap: 0px 80px;
    }
}

@media(max-width: 400px){
    .cursos-intensivos{
        margin: 40px 0px 10px 0px;
    }
    
    .cursos-intensivos::before{
        content: none;
    }
    
    .cursos{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-left: 0px
    }
}

/* Contato */

.footer{
    background: #0D0D0D;
    color: #9C9C9C;
    font-size: 1.5rem;
    line-height: 1.33;
}

.footer-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    gap: 200px;
    padding: 60px 20px;
}

.footer-container::before{
    position: absolute;
    content: url(/img/detail.svg);
    top: -50px;
    left: 20px;
}

.footer-contato{
    font-weight: bold;
    align-self: center;
}

.footer-contato li{
    position: relative;
}

.footer-contato li:first-child:before{
    position: absolute;
    content: url(/img/mail.svg);
    top: 5px;
    left: -36px;
}

.footer-contato li:last-child:before{
    position: absolute;
    content: url(/img/phone.svg);
    top: 3px;
    left: -36px;
}

.footer-contato li:first-child{
    margin-bottom: 20px;
}

.rodape{
    text-align: center;
    padding: 20px;
}

@media(max-width: 800px){
    .footer-container{
        gap: 100px;
        padding: 60px 20px;
    }
}

@media(max-width: 475px){
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-contato{
        margin-left: 40px;
    }
}